
*{
    margin: 0%;
    padding: 0%;
}
/*NAVBAR*/
.navbar{
    background-image: linear-gradient(to right,#0869c4,#5f068b ) !important;
    padding: 20px !important;
    position: sticky;
    top: 0%;
    z-index: 10;
}

.navbar-brand span{
    text-transform: uppercase;
    font-weight: 600;
    margin: 5px;
    color: #fff;
    font-family: bold;

}
.navbar-brand img{
    height: 60px;
    width: 60px;
    padding-left: 10px;
}

.navbar-nav li{
    padding:  0 7px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}
/*NAVBAR*/


/*WHAT I DO*/
#what-i-do{
    padding: 40px 0;
    background-image: linear-gradient(to right , #0869c4,#5f068b);
    color: #fff;
    padding-top: 5%;
}

.what-img{
    width: 100px;
    margin-top: 20px;
}
.what{
    padding: 20px;
}

.container h3{
    font-size: 30px;
    font-family: bold;
    font-weight: 600;
    border-bottom: 2px solid #fff  ;
    align-items: center;
    text-align: center;
}
.what h4{
    text-transform: uppercase;
    font-weight: 500;
    font-family: bold;
    padding: 5px;
    margin-top: 20px;
}

.progress-head{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.progress{
    width: 100%; 
}

.progress-head h2{
    font-size: 30px;
    font-family: bold;
    font-weight: 600;
    border-bottom: 2px solid #fff  ;
    align-items: center;
    text-align: center;
    
}

/*.progress-head h2:hover{
    border-bottom: 2px solid #fff;
    transition: .5s;
}*/

.progress-head h5{
    text-transform: uppercase;
    align-items: left;
    text-align: left;
    justify-content: left;
}

/*WHAT I DO*/


/* FOOTER */

.footer-bottom{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right , #0869c4,#5f068b);
    padding: 10px ;
   
 }
 .footer-bottom p{
    color: #fff;
     font-size: 14px;
     word-spacing: 2px;
     text-transform: capitalize;
     font-family: bold;
 }
 .footer-bottom span{
    color: rgb(206, 163, 22) !important;
     text-transform: uppercase;
     font-family: 'Andada Pro', serif;
     font-weight: 900;
 }
 
 
 /* //FOOTER */





