
*{
  margin: 0%;
  padding: 0%;
}
/*NAVBAR*/
.navbar{
  background-image: linear-gradient(to right,#0869c4,#5f068b ) !important;
  padding: 20px !important;
  position: sticky;
  top: 0%;
  z-index: 10;
}

.navbar-brand span{
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px;
  color: #fff;
  font-family: bold;

}
.navbar-brand img{
  height: 60px;
  width: 60px;
  padding-left: 10px;
}

.navbar-nav li{
  padding:  0 7px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
}
.fa-bars{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler{
  outline: none !important;
}
/*NAVBAR*/

/* CONTACT*/
#contact{
  background-image: linear-gradient(to right , #0869c4,#5f068b);
  color: #fff;
  padding-top: 5%;
  padding-top: 70px;
  padding-bottom:20px;
  

}
.contact-tittle {
  font-size: 25px;
  font-weight: 530;
  font-family: bold;
  border-bottom: 1.5px solid #fff;
  margin: 30px;
}
.contactdata{
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;

}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 19px;
  
}
.contactdata button{
  width: 50%;
  background-color: #c24cf6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contactdata button:hover{
  background-color:  rgb(34, 185, 110) ;
}


/* CONTACT*/

/* FOOTER */

.footer-bottom{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right , #0869c4,#5f068b);
  padding: 10px ;
 
}
.footer-bottom p{
  color: #fff;
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
   font-family: bold;
}
.footer-bottom span{
  color: rgb(206, 163, 22) !important;
   text-transform: uppercase;
   font-family: 'Andada Pro', serif;
   font-weight: 900;
}


/* //FOOTER */